{% extends "layout.njk" %}

{% block content %}
<section class="product-single container">

    <div class="gallery">
        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="" />
    </div>
    <div class="info">
        <h1>Computador</h1>

        <div class="published">
            Publicado em 24/08/2020 às 21h
        </div>

        <div class="description">
            Qualquer coisa na descrição...
        </div>

        <div class="price-buy">
            <div class="price">
                R$ 99,00
            </div>
            <div class="buy">
                <button class="button">Comprar</button>
            </div>

        </div>

    </div>

</section>

{% endblock content %}