{% extends "layout.njk" %}

{% block title %}
        <title>EDITAR CHEF</title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}
    
    <header>
        <div class="header">

        {% block logo %}
            <a href="/admin/recipes"><img src="/assets/Admin/logo.png" alt="logo-admin-foody"></a>            
        {% endblock %}

        </div>
    </header>

{% endblock %}

{% block main %}
    <main>
        <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{Chef_id}}>
            <button type="submit">Deletar</button>
        </form>        
        <form action="/admin/chefs?_method=PUT" method="POST">        
            <div class="create-title">
                <h2>Editando chef</h2>
                <button type="submit">Salvar chef</button>
                <input type="hidden" name="id" value={{Chef.id}}>
            </div>
            {% include 'Admin/Chefs/fields.njk' %}
        </form>
    </main>
{% endblock %}

{% block footer %}    
    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock %}