<div class="create-content">
    <h4>Nome</h4>
    <input type="text" name="name" value="{{Chef.name}}">
</div>
<div class="create-content">
    <h4>Avatar</h4>
    <input type="url" name="avatar_url" value="{{Chef.avatar_url}}">
</div>