{% extends "layout.njk" %}

{% block title %}
        <title>CHEF - {{Chef.name}}</title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}
    
    <header>
        <div class="header">
            <div class="menu-img">
                {% block logo %}
                    <a href="/admin"><img src="/assets/Admin/logo.png" alt="logo-admin-foody"></a>
                {% endblock %}
            </div>
            <div class="menu-links">
                <a href="/admin/recipes" class="menu-recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </div>
    </header>

{% endblock %}

{% block main %}
    <main>
        <div class="recipe-1 chef-1">
            <h2>Chef: {{Chef.name}}</h2>
            <a href="/admin/chefs/{{Chef.id}}/edit"><button>Editar Chef</button></a>
        </div>
        <div class="recipe-2 chef-2">
            <img src="{{Chef.avatar_url}}" alt="{{Chef.name}}">
        </div>
        <div class="recipe-3 chef-3">
            <h2>{{Chef.name}}</h2>
            <h5>{{Chef.total_recipes}} 0 receitas</h5>
        </div>
        <div class="recipe-4 chef-4">
            <h2>Receitas</h2>
            <!-- LISTAR AS RECEITAS DO CHEF -->
        </div>
    </main>
{% endblock %}

{% block footer %}    
    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>
{% endblock %}