{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="teachers">Teachers</a>
            <a href="students">Students</a>
            <a href="/">HOME</a>
        </div>
    </header>
{% endblock %}

{% block content %}  
    <div id="wrapper">
        STUDENTS
    </div>
{% endblock %}