{% extends "layout.njk" %}

{% block title %}
        <title>FOODFY - NOVA RECEITA</title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}
    
    <header>
        <div class="header">

        {% block logo %}
            <a href="/admin/recipes"><img src="/assets/Admin/logo.png" alt="logo-admin-foody"></a>            
        {% endblock %}

        </div>
    </header>

{% endblock %}

{% block main %}
    <main>
        <form action="/admin/recipes" method="POST"> 
            <div class="create-title">
                <h2>Criando receita</h2>
                <button type="submit">Salvar</button>
            </div>       
            {% include 'Admin/Recipes/fields.njk' %}            
        </form>
    </main>
{% endblock %}

{% block footer %}    
    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock %}