@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {

}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: Roboto-Regular, sans-serif;
}

header {
    background-color: #111111;
    width: 1349px;
    height: 80px;
}

.header {
    margin-left: 231px;
    max-width: 100%;
    height: 100%;
}

.header img {
    margin-top: 27px;    
}

main {
    margin-left: 230px;
    width: 850px;
    /*height: 100vh;*/
    /*margin: 0 auto;*/
}

footer {
    width: 1349px;
    height: 62px;
    margin-top: 50px;
    background-color: #EEEEEE;    
}

footer h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #999999;    
    text-align: center;
    padding: 23px 0px;
}

main > h2 {
    margin-top: 50px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 24px;
    color: #111111;
    font-weight: bold;
}

.wrapper-recipes {
    margin-top: 30px;
}

.wrapper-recipes img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.recipe {
    display: grid;
    grid-template-columns: 173px 1fr;
}

.recipe section h3 {
    margin-left: 20px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    color: #111111;
}

.recipe section h4 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #777777;
}

.recipe section a {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
    font-weight: bold;
}

.create-title {
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.create-title h2 {
    display: inline;
}

.create-title .button-save {
    width: 145px;
    height: 37px;
    background-color: #6558C3;
    border-radius: 4px;
    text-align: center;    
}

.create-title .button-save a {
    display: inline-block;
    margin: 9px 20px;
    text-decoration: none;    
    font-family: Roboto-Bold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}