@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
    --color-font: #111111;
    --color-back-wrapper: #FBDFDB;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    margin: 0 auto;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

.menu {    
    max-width: 940px;
    margin: 0 auto;
    display: flex;
}

.menu-img {
    margin-top: 36.1px;
    margin-right: 122.4px;
}
.menu-img img{
    width: 90.6px;
    height: 26.9px;
}

.menu-links {
    margin-top: 38px;
}

.menu-links a {
    color: var(--color-font);
    margin-right: 30px;
    font-size: 16px;
    text-decoration: none;
}

.menu-links .sobre {
    width: 42px;    
}

.menu-links .receitas {
    width: 62px;    
}

.wrapper {
    background-color: var(--color-back-wrapper);
    width: 940px;
    height: 366px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 36px;
    position: relative;
}

.content h2 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 32px;
    color: var(--color-font);
    position: absolute;
    margin-top: 117px;
    margin-left: 60px;
    /*width: 322px;*/
    margin-bottom: 10px;
}

.content p {
    width: 316px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    position: absolute;
    margin-top: 165px;
    margin-left: 60px;
}

.wrapper img {
    position: absolute;
    top: 66px;
    right: 100px;
    bottom: 0;    
}

.wrapper-recipes {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 50px;    
}

.wrapper-recipes img {
    margin-top: 20px;
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.wrapper-recipes h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    color: var(--color-font);
    margin-top: 20px;
}

.wrapper-recipes h4 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

footer {
    max-width: 100%;
    height: 62px;
    margin-top: 50px;
    background-color: #EEEEEE;    
}

footer h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #999999;    
    text-align: center;
    padding: 23px 0px;
}

/* ### STYLES ABOUT.HTML ### */

.wrapper-about {
    max-width: 940px;
    margin: 0 auto;        
}

.wrapper-about h2, 
.wrapper-about h3 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 24px;
    color: var(--color-font);
    margin-top: 56px;
}

.wrapper-about h3 {    
    font-size: 20px;    
    margin-top: 30px;
}

.wrapper-about p {
    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-top: 20px;
}

/** ### RECIPES.HTML => MODAL OVERLAY  **/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #ffffff;
    max-width: 660px;
    height: 413px;    
    margin: 355px auto;
    border-radius: 16px;
}

.modal img {
    width: 600px;
    height: 200px;
    margin: 30px 30px 0px 30px;
    border-radius: 15px;    
}

.modal h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    color: #111111;
    text-align: center;
    margin-top: 20px;
}

.modal h4 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}

.modal .close-modal {
    font-size: 16px;
    color: #999999;
    margin-top: 60px;
    margin-bottom: 30px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}