{% extends "layout.njk" %}

{% block title %}
        <title>ADMINISTRAÇÃO - FOODFY</title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}
    
    <header>
        <div class="header">
            <div class="menu-img">
                {% block logo %}
                    <img src="/assets/Admin/logo.png" alt="logo-admin-foody">
                {% endblock %}
            </div>
            <div class="menu-links">
                <a href="/admin/recipes" class="menu-recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </div>
    </header>

{% endblock %}

{% block main %}
    <main>
        <H3>
            ADMINISTRAÇÃO DO FOODFY - SUAS RECEITAS EM QUALQUER LUGAR.
        </H3>
    </main>
{% endblock %}

{% block footer %}    
    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>
{% endblock %}