{% extends "layout.njk" %}

{% block title %}
    <title>Receitas</title>
{% endblock %}

{% block logo %}    
    <a href="/"><img src="/assets/logo.png" alt="logo-foody"></a> 
{% endblock %}

{% block main%}
    <main>
        <div class="wrapper-recipes">
            <div class="recipes">
                {% for recipe in Recipes %}
                <div class="recipe" id="{{ recipe.id }}">
                    <img src="{{recipe.image}}" alt="Imagem {{receipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <h4>por {{recipe.author}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <!-- 
    <div class="modal-overlay">
        <div class="modal">            
            <img src="" alt="">
            <h3></h3>
            <h4></h4>
            <h4 class="close-modal">Fechar Modal</h4>            
        </div>
    </div> -->
{% endblock %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock %}