{% extends "layout.njk" %}

{% block title %}
    <title>Resultado da Busca: {{filter}}</title>
{% endblock %}

{% block main%}
    <main>
        <div class="search">
            <h3>Buscando por "{{filter}}"</h3>
        </div>       

        <div class="wrapper-recipes wrapper-recipes-search">
            <div class="recipes">
                {% for recipe in Recipes %}
                <div class="recipe" id="{{ recipe.id }}">
                    <img src="{{recipe.image}}" alt="Imagem {{receipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <h4>por {{recipe.author}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>
{% endblock %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock %}