{% extends "layout.njk" %}

{% block title %}
    <title>Resultado da Busca: {{filter}}</title>
{% endblock %}

{% block logo %}    
    <a href="/"><img src="/assets/logo.png" alt="logo-foody"></a> 
{% endblock %}

{% block main%}
    <main>
        <div class="search">
            <h3>Buscando por "{{filter}}"</h3>
        </div>        
    </main>
{% endblock %}