{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
            <a href="/">HOME</a>
        </div>
    </header>
{% endblock %}

{% block content %}  
    <form class="card" method="POST" action="/teachers">
        <section class="image" style="background: url(https://source.unsplash.com/collection/10553730/500x500) no-repeat center center / cover"></section>
        <section class="details">
                        
            <div class="item">
                <div>Avatar URL</div>
                <div> 
                    <input type="url" name="avatar_url" placeholder="HTTPS://www.MeuAvatar.com.br">
                </div>
            </div>
            
            <div class="item">
                <div>Nome completo</div>
                <div> 
                    <input type="text" name="name" placeholder="Digite seu nome completo">
                </div>
            </div>

            <div class="item">
                <div>Nascimento</div>
                <div>
                    <input type="date" name="birth">
                </div>
            </div>

            <div class="item">
                <div>Escolaridade</div>
                <div>
                    <select name="schooling">
                        <option value="medium">Ensino Médio Completo</option>
                        <option value="higher">Ensino Superior Completo</option>
                        <option value="masters">Mestrado</option>
                        <option value="doctorate_degree">Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>
                    <span><input type="radio" name="typeclass" value="P" checked>Presencial</span>
                    <span><input type="radio" name="typeclass" value="D">À Distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="acting" placeholder="Digite as matérias entre vírgulas..">
                </div>
            </div>
                        
            <button type="submit">Salvar</button>

        </section>
    </form>
{% endblock %}