{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="teachers">Teachers</a>
            <a href="students">Students</a>        
        </div>
    </header>
{% endblock %}

{% block content %}  
    <div id="wrapper">
        <h2>AULAS PARTICULARES</h2>
    </div>
{% endblock %}