{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/membros/create">Novo</a>
            <form action="/membros?filter=" method="GET">
                <input type="text" name="filter" placeholder="Nome e E-mail" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>            
        </div>
        
        <table width="100%">
            <thead>
                <tr>
                    <th>Membro</th>
                    <th>E-mail</th>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                {% for membro in Membros %}
                <tr>
                    
                    <td><span style="background-image: url({{membro.avatar_url}})"></span>
                        {{membro.name}}</td>
                    <td>{{membro.email}}</td>
                    <td>{{membro.weight}}kg</td>
                    <td>{{membro.height}}cm</td>
                    <td><a href="/membros/{{membro.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
             data-page={{pagination.page}}
             data-total={{pagination.total}}
             data-filter={{filter}}
        >
        </div>

    </div>
{% endblock content %}