<div class="create-content">
    <h4>Imagem da receita</h4>
    <input type="url" name="image" value="{{Recipe.image}}">
</div>
<div class="create-content">
    <h4>Nome da receita</h4>
    <input type="text" name="title" value="{{Recipe.title}}">
</div>
<div class="create-content">
    <h4>Autor da receita</h4>
    <select name="chef_id">
        <option value="" disabled selected>Selecione um chef</option>
        {% for chef in Chefs %}
            <option 
                value="{{chef.id}}"
                {% if Recipe.chef_id == chef.id %} Selected {% endif %} > {{chef.name}} </option>
        {% endfor %}
    </select>
</div>
<div class="create-content">
    <h4>Ingredientes</h4>
    <div id="ingredientes">
        {% for ingredient in Recipe.ingredients %}
        <div class="ingrediente">
            <input type="text" name="ingredients[]" value="{{ingredient}}">
        </div>
        {% else %}
            <div class="ingrediente">
                <input type="text" name="ingredients[]" value="">
            </div>
        {% endfor %}
    </div>                
    <a class="add-ingrediente">Adicionar um novo ingrediente</a>
</div>
<div class="create-content">
    <h4>Modo de preparo</h4>    
    <div id="preparos">
        {% for prepare in Recipe.preparation %}
        <div class="preparo">
            <input type="text" name="preparation[]" value="{{prepare}}">
        </div>
        {% else %}
            <div class="preparo">
                <input type="text" name="preparation[]" value="{{prepare}}">
            </div>
        {% endfor %}
    </div>
    <a class="add-preparo">Adicionar um novo passo</a>
</div>
<div class="create-content">
    <h4>Informações adicionais</h4>
    <textarea name="information">{{Recipe.information}}</textarea>
</div>