{% extends "layout.njk" %}

{% block title %}
        <title>ADMINISTRAÇÃO - FOODFY</title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}
    
    <header>
        <div class="header">
            <div class="menu-img">
                {% block logo %}
                    <a href="/admin"><img src="/assets/Admin/logo.png" alt="logo-admin-foody"></a>
                {% endblock %}
            </div>
            <div class="menu-links">
                <a href="/admin/recipes" class="menu-recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </div>
    </header>

{% endblock %}

{% block main %}
    <main>
        <div class="ger-recipe">
            <h2>Gerenciar receitas</h2>
            <div class="filtro">
                <a href="/admin/recipes/create">NOVA RECEITA</a>
            
                <form action="/admin/search/recipes?filter=" method="GET">
                    <input type="text" name="filter" placeholder="Nome da Receita" value="{{filter}}">
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </div>        
        <div class="wrapper-recipes">
            <div class="recipes">
                {% for recipe in recipes %}
                <div class="recipe" id="1">
                    <section>
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </section>
                    <section>
                        <h3>{{recipe.title}}</h3>
                        <h4>por {{recipe.chef_name}}</h4>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}    
    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>
{% endblock %}