@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --color-backgroud: #ffffff;
    --color-font: #ffffff;
    --color-rocket: #7159c1;
    --color-font-hover: #464157;
    --color-border: #282a36;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {    
    background: var(--color-backgroud);
    font-family: Roboto, sans-serif;    
}

header {
    background: var(--color-rocket);
    padding: 30px;
    border-bottom: 2px solid var(--color-border);
    display: flex;
}

.links {
    flex: 1;
    text-align: center;
}

.links a {
    margin: 0 30px;
    text-decoration: none;
    color: var(--color-font);
    font-weight: bold;
}

.links a:hover {  
    color: var(--color-font-hover);
    transition: color 300ms;
}