{% extends "layout.njk" %}

{% block title %}
    <title>SOBRE</title>  
{% endblock %}

{% block header %}
    <header>
        <div class="links">            
            <a href="/">HOME</a>
        </div>
        <div class="socials">
            {% for network in data.networks %}
                <a href="{{network.url}}" target="_blank">{{network.name}}</a> 
            {% endfor %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="company">
            <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg" alt="logo">
            <h1>{{data.title}}</h1>            
            <p>{{data.description}}
            </p>
            <h3>Tecnologias utilizadas:</h3>
            <ul>
                {% for tecnologia in data.tecnologies %}                
                <li>{{tecnologia}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>    
{% endblock %}