{% extends "layout.njk" %}

{% block title %}
    <title>Curso - {{course.title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="links">            
            <a href="/">HOME</a>
            <a href="/courses">CURSOS</a>
        </div>
        <div class="socials">
            <a href="https://github.com/rocketseat" target="_blank">GitHub</a> 
            <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
            <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        </div>
    </header> 
{% endblock %}

{% block content %}
    <div class="content">
        <h1>{{course.title}}</h1>
    </div>

    <section class="cards">
        <div class="card" id="{{course.id}}">
            <div class="card-img {{ 'featured-card' if course.featured }}">
                <img src="{{course.course_url}}" alt="Imagem do curso {{course.id}}">
                {% if course.featured %}
                    <div class="featured">Featured</div>
                {% endif %}
            </div>
            <div class="card-content-title">
                <p><strong>{{course.title}}</strong></p>
            </div>
            <div class="card-content-info">
                <p class="card-content-subtitle">{{course.qtdModules}} Módulos</p>
                <p class="card-content-price card-price-starter">{{course.price}}</p>
            </div>
        </div>
    </section>

{% endblock %}