{% extends "layout.njk" %}

{% block title %}
    <title>CONTEÚDOS</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="links">            
            <a href="/">HOME</a>
        </div>
        <div class="socials">
            <a href="https://github.com/rocketseat" target="_blank">GitHub</a> 
            <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
            <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        </div>
    </header> 
{% endblock %}

{% block content %}
    <div class="content">
        <h1>CURSOS</h1>        
    </div>

    <section class="cards">

        {% for course in Courses %}
        <div class="card" id="{{course.id}}">
            <div class="card-img {{ 'featured-card' if course.featured }}">
                <img src="{{course.course_url}}" alt="Imagem do curso {{course.id}}">
                {% if course.featured %}
                    <div class="featured">Featured</div>
                {% endif %}
            </div>
            <div class="card-content-title">
                <p><strong>{{course.title}}</strong></p>
            </div>
            <div class="card-content-info">
                <p class="card-content-subtitle">{{course.qtdModules}} Módulos</p>
                <p class="card-content-price card-price-starter">{{course.price}}</p>
            </div>
        </div>        
        {% endfor %} 

    </section>
    
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal"> 
                <span class="material-icons">close</span> 
            </a>
            <a class="maximize-modal">
                <span class="material-icons">maximize</span>
            </a>
            <a class="minimize-modal">
                <span class="material-icons">minimize</span>
            </a>
            
            <div class="modal-content">
                <!-- conteudo do modal aqui -->
                <iframe src="" frameborder="0"></iframe>
            </div>

        </div>
    </div>

    <script src="scripts.js"></script>
{% endblock %}