{% extends "layout.njk" %}

{% block main %}
    <main>
        <div class="wrapper">
            <div class="content">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
            </div>            
            <img src="/assets/chef.png" alt="chef">
        </div>

        <div class="wrapper-recipes">
            <h2>Mais acessadas</h2>
            <div class="recipes">
                {% for recipe in dataRecipes %}
                <div class="recipe">
                    <img src="{{recipe.image}}" alt="Imagem do {{recipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <h4>por {{recipe.author}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}