{% extends "layout.njk" %}

{% block title %}
    <title>Receita - {{recipe.title}} </title>
{% endblock %}

{% block logo %}    
    <a href="/"><img src="/assets/logo.png" alt="logo-foody"></a> 
{% endblock %}

{% block main %}
    <div class="wrapper-recipe">
        <img src="{{recipe.image}}" alt="">
        <h2>{{recipe.title}}</h2>
        <h4>{{recipe.author}}</h4>
    </div>    
{% endblock %}