{% extends "layout.njk" %}

{% block title %}
    <title>Receita - {{recipe.title}} </title>
{% endblock %}

{% block logo %}    
    <a href="/"><img src="/assets/logo.png" alt="logo-foody"></a> 
{% endblock %}

{% block main %}
    <img src="" alt="">
{% endblock %}