{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section 
            class="avatar"
            style="background: url({{Instrutores.avatar_url}}) no-repeat center center / cover">
        </section>
        
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{Instrutores.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{Instrutores.age}}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{Instrutores.gender}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in Instrutores.services %}
                    <span>{{service}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Cadastrado em:</div>
                <div>{{Instrutores.created_at}}</div>
            </div>

        </section>

    </div>
{% endblock content %}