{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="teachers">Teachers</a>
            <a href="students">Students</a>
            <a href="/">HOME</a>
        </div>
    </header>
{% endblock %}

{% block content %}  
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/teachers/create">NOVO</a>
            <form action="/teachers" method="get">
                <input value="{{filter}}" type="text" name="filter" placeholder="Nome e Disciplinas">
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in Teachers %}
                <tr>                    
                    <td><span style="background-image: url({{teacher.avatar_url}})"></span>
                        {{teacher.name}}
                    </td>
                    <td>
                        {% for subjects in teacher.subjects_taught %}
                            <span>{{subjects}}</span>
                        {% endfor %}
                    </td>
                    <td>{{teacher.total_students}}</td>
                    <td><a href="teachers/{{teacher.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}