<div class="create-content">
    <h4>Imagem da receita</h4>
    <input type="url" name="imagem_url" value="{{recipe.image}}">
</div>
<div class="create-content">
    <h4>Nome</h4>
    <input type="text" name="nome_receita" value="{{recipe.title}}">
</div>
<div class="create-content">
    <h4>Autor</h4>
    <input type="text" name="autor_receita" value="{{recipe.author}}">
</div>
<div class="create-content">
    <h4>Ingredientes</h4>
    <div id="ingredientes">
        {% if not recipe %}
        <div class="ingrediente">
            <input type="text" name="ingrediente[]" value="{{ingredient}}">
        </div>
        {% endif %}

        {% for ingredient in recipe.ingredients %}
        <div class="ingrediente">
            <input type="text" name="ingrediente[]" value="{{ingredient}}">
        </div>
        {% endfor %}
    </div>                
    <a class="add-ingrediente">Adicionar um novo ingrediente</a>
</div>
<div class="create-content">
    <h4>Modo de preparo</h4>    
    <div id="preparos">
        {% if not recipe %}
        <div class="preparo">
            <input type="text" name="modo_preparo[]" value="{{prepare}}">
        </div>        
        {% endif %}

        {% for prepare in recipe.preparation %}
        <div class="preparo">
            <input type="text" name="modo_preparo[]" value="{{prepare}}">
        </div>
        {% endfor %}
    </div>
    <a class="add-preparo">Adicionar um novo passo</a>
</div>
<div class="create-content">
    <h4>Informações adicionais</h4>
    <textarea name="informacoes_adicionais">{{recipe.information}}</textarea>
</div>