{% extends "layout.njk" %}

{% block title %}
    <title>Receita - {{recipe.title}} </title>
{% endblock %}

{% block stylesheet  %}
        <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block header %}    
    <header>
        <div class="header">

        {% block logo %}
            <img src="/assets/Admin/logo.png" alt="logo-admin-foody">
        {% endblock %}

        </div>
    </header>
{% endblock %}

{% block main %}
<main>
    <div class="recipe-1">
        <h2>Receita: {{recipe.title}}</h2>
        <a href="/admin/recipes/{{index}}/edit"><button>Editar receita</button></a>
    </div>
    <div class="recipe-2">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
    </div>
    <div class="recipe-3">
        <h2>{{recipe.title}}</h2>
        <h5>por {{recipe.author}}</h5>
    </div>
    <div class="recipe-4">
        <h2>Ingredientes</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}            
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="recipe-5">
        <h2>Modo de Preparo</h2>
        <ul>
            {% for prepare in recipe.preparation %}
                <li>{{prepare}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="recipe-6">
        <h2>Ingredientes</h2>
        {% if recipe.information %}
            <p>{{recipe.information}}</p>
        {% else %}
            <p>{{ 'Não há informações adicionais para essa receita.' }}</p>
        {% endif %}
    </div>

</main>    
{% endblock %}