{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
            <a href="/">HOME</a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="card">
        <section 
            class="image" 
            style="background: url({{student.avatar_url}}) no-repeat center center / cover">
        </section>

        <section class="details">
            <form id="form-salvar" action="/students?_method=PUT" method="POST">
                {% include 'students/fields.njk' %}
                <input type="hidden" name="id" value={{student.id}}>
                <button type="submit">Editar</button>
            </form>

            <form id="form-delete" action="/students?_method=DELETE" method="POST">
                <input type="hidden" name="id" value={{student.id}}>
                <button type="submit">Deletar</button>
            </form> 
        </section>
    </div>
{% endblock %}