{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="links">            
            <a href="teachers">Teachers</a>
            <a href="students">Students</a>
            <a href="/">HOME</a>
        </div>
    </header>
{% endblock %}

{% block content %}  
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/students/create">NOVO</a>
            <form action="/students" method="get">
                <input value="{{filter}}" type="text" name="filter" placeholder="Nome e E-mail">
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Estudante</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>                    
                    <td><span style="background-image: url({{student.avatar_url}})"></span>
                        {{student.name}}
                    </td>
                    <td>{{student.email}}</td>
                    <td>{{student.school_year}}</td>
                    <td><a href="students/{{student.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
             data-page={{pagination.page}}
             data-total={{pagination.total}}
             data-filter={{filter}}
        >
        </div>
        
    </div>
{% endblock %}