{% extends "layout.njk" %}

{% block title %}
    <title>PAGE NOT FOUND</title>  
{% endblock %}

{% block content %}
    <div class="error">
        <img src="404-not-found.jpeg" alt="404-not-found">
    </div>    
{% endblock %}