{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/instrutores/create">Novo</a>
            <form action="/instrutores?filter=" method="GET">
                <input type="text" name="filter" placeholder="Nome e Atendimento" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>            
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Atendimento</th>
                    <th>Alunos</th>
                    <th>AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                {% for Instrutor in Instrutores %}
                <tr>
                    
                    <td><span style="background-image: url({{Instrutor.avatar_url}})"></span>
                        {{Instrutor.name}}</td>
                    <td>{{Instrutor.services}}</td>
                    <td>{{Instrutor.total_students}}</td>
                    <td><a href="/instrutores/{{Instrutor.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
             data-page={{pagination.page}}
             data-total={{pagination.total}}
             data-filter={{filter}}
        >
        </div>

    </div>
{% endblock content %}