{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section 
            class="avatar"
            style="background: url({{Instrutor.avatar_url}}) no-repeat center center / cover">
        </section>
        
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{Instrutor.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{Instrutor.age}}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{'Masculino' if Instrutor.gender == 'M' else 'Feminino'}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in Instrutor.services %}
                    <span>{{service}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Cadastrado em:</div>
                <div>{{Instrutor.created_at}}</div>
            </div>

            <a href="/instrutores/{{Instrutor.id}}/edit" class="button">Editar</a>

        </section>

    </div>
{% endblock content %}